################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SendEmailUsingSMTPClient/obj
/SendEmailUsingSMTPClient/.vs/SendEmailUsingSMTPClient
